<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Properties>
        <Property name="basePath">C:/temp/logs</Property>
    </Properties>
    <Appenders>
        <RollingFile name="fileLogger1"
            fileName="${basePath}/app.xml"
            filePattern="${basePath}/app-%d{yyyy-MM-dd}.xml">
            <PatternLayout>
                <Pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="1000MB" />
            </Policies>
            <DefaultRolloverStrategy max="10">
                <Delete basePath="${basePath}" maxDepth="10">
                    <IfLastModified age="30d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
        <RollingFile name="fileLogger2"
            fileName="${basePath}/dashboard.xml"
            filePattern="${basePath}/dashboard-%d{yyyy-MM-dd}.xml">
            <PatternLayout>
                <Pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="1000MB" />
            </Policies>
            <DefaultRolloverStrategy max="10">
                <Delete basePath="${basePath}" maxDepth="10">
                    <IfLastModified age="30d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="ERROR" additivity="false">
            <AppenderRef ref="fileLogger1" />
            <AppenderRef ref="fileLogger2" />
        </Root>
        <Logger name="mavenid.maven.Allsitesflowtesting" level="DEBUG" additivity="false">
            <AppenderRef ref="fileLogger1" />
        </Logger>
        <Logger name="mavenid.maven.Dashboard" level="DEBUG" additivity="false">
            <AppenderRef ref="fileLogger2" />
        </Logger>
    </Loggers>
</Configuration>
